<div style='flex: 1; max-width: 1930px;margin: 0 auto;padding: 0 30px; display: flex;height:72px; 
 align-items: center;justify-content: space-between; background: #727272;'>
  <div style='color:white; width: 100%; max-width: 930px;margin: 0 auto;padding: 0 30px; display: flex;height:72px; 
  align-items: center;justify-content: space-between'>
   <a href='#' style='text-decoration: none; color: white;font-size: 23px;'>   {{header}}  </a> 
   <a href='#' style='text-decoration: none; color: white;font-size: 23px;'>{{sair}} </a>
  </div>
 
</div>

